flask
requests
beautifulsoup4
pandas
numpy
scikit-learn
xgboost
python-whois
dnspython
tqdm
ipwhois
tld
tldextract
urllib3
certifi
charset-normalizer
idna
python-dateutil
pytz
six
soupsieve
joblib
threadpoolctl
scipy 

pyshorteners
transformers
tokenizers
torch
Flask-SQLAlchemy
flask-cors
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-Mail

python-dotenv
Werkzeug